<div class="page-header">
	<h1>Restablecer Contraseña</h1>
</div>

<form ng-hide="reset.hide" name="regForm" ng-submit="reset.savePassword(regData, regForm.$valid, confirmed);" novalidate>

	<!--Password -->

	<div ng-class="{'has-success':(regForm.firstPassword.$valid && !regForm.firstPassword.$pristine), 'has-error' : (!regForm.firstPassword.$valid && !regForm.firstPassword.$pristine) || (!regForm.firstPassword.$valid && regForm.$submitted)}">
		<!-- firstPassword -->
		<label>Contraseña:</label>
		<input ng-disabled= "reset.disabled" class= "form-control" type="password" name="firstPassword" placeholder="Password" ng-model="firstPassword"  ng-pattern="/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W]).{8,35}$/" ng-minLength="8" ng-maxLength="35" required>	
		<p class= "help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.required) || (regForm.$submitted && regForm.firstPassword.$error.required)">Este campo es requerido</p>
		<ul ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.pattern) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.minlength) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.maxlength)" class="help-block">
			<li>Debe contener por lo menos una letra mayuscula</li>
			<li>Debe contener por lo menos una letra minuscula</li>
			<li>Debe contener por lo menos un numero</li>
			<li>Debe contener por lo menos un caracter especial</li>
			<li>Debe contener de 8 a 35 caracteres</li>	
		</ul>
	</div>
	<br>

	<!--Confirm Password -->
	<!--
	<label>Password</label>
	<input class= "form-control"  type="password" name="password" placeholder="Contraseña" ng-model="reset.regData.password">
	-->
	<div ng-class="{'has-success': confirmed && !regForm.confirmPassword.$error.required, 'has-error' : (!confirmed && !regForm.confirmPassword.$error.required) || (regForm.confirmPassword.$error.required && !regForm.confirmPassword.$pristine) || (regForm.$submitted && regForm.confirmPassword.$error.required) }">
		<!-- password -->
		<label>Confirm confirmPassword:</label>
		<input ng-disabled= "reset.disabled" class= "form-control" type="password" name="confirmPassword" placeholder="Confirmar password" match={{[firstPassword]}} ng-change= "reset.regData.password= confirm" ng-model="confirm"  ng-pattern="/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W]).{8,35}$/" ng-minLength="8" ng-maxLength="35" required>	
		<p class= "help-block" ng-show="(!regForm.confirmPassword.$pristine && regForm.confirmPassword.$error.required) || (regForm.$submitted && regForm.confirmPassword.$error.required)">Este campo es requerido</p>
		<p class= "help-block" ng-show="!confirmed && !regForm.confirmPassword.$pristine && regForm.firstPassword.$valid"> Password no conciden</p>
	</div>
	<br>

	<button ng-disabled= "reset.disabled" class= "btn btn-primary" type="submit">Restablecer Contraseña</button>
</form>

<br>

<div class="jummbotron text-center" ng-show="reset.loading">
	<span class="glyphicon-repeat spinner glyphicon"></span>
	<p>Cargando...</p>
</div>
<div class="show-hide-message row" ng-show="reset.successMsg">
	<div class="alert-success alert"> {{reset.successMsg}}</div>
</div>

<br>

<div class="show-hide-message row" ng-show="reset.errorMsg">
	<div class="alert-danger alert"> {{reset.errorMsg}}</div>
</div> 