<div class="page-header">
	<h1>Perfil {{main.username}}</h1>
</div>
<div class="panel-info panel">
	<div class="panel-heading" style="text-align:center;"><strong> User Profile</strong>		
	</div>

	<!-- Table -->
	<table class= "table">
		<tr>
			<td> <strong>Username</strong></td>
			<td> <strong>Email</strong></td>
			<td> <strong>Password</strong></td>
		</tr>
		<tr>
			<td> {{ main.username }} </td>
			<td> {{ main.useremail}} </td>
			<td>*************************</td>
		</tr>
	</table>
</div>
<!-- pokemon -->
<div>
  <div class="page-header">
	<h1>
	  {{main.name}}
	  <small>{{pokemon.species}}</small>
	  <span class="label label-primary pull-right">#{{pokemon.id}}</span>
	</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <pokemon-image></pokemon-image>
    </div>
    <!-- Tabs -->
    <div class="col-md-6" ng-controller="TabsController as tabs">
      <ul class="nav nav-tabs nav-justified">
        <li ng-class="{ active:tabs.tab === 1 }"><a ng-click="tabs.selectTab(1)">Pokédex</a></li>
        <li ng-class="{ active:tabs.tab === 2 }"><a ng-click="tabs.selectTab(2)">Stats</a></li>
        <li ng-class="{ active:tabs.tab === 3 }"><a ng-click="tabs.selectTab(3)">Evolution</a></li>
      </ul>
      <div class="tab-content">
        <!-- Pokedex -->
        <div ng-show="tabs.tab === 1">
          <pokemon-data></pokemon-data>
        </div>
        <!-- Stats -->
        <div ng-show="tabs.tab === 2">
          <pokemon-stats></pokemon-stats>
        </div>
        <!-- Evolution -->
        <div ng-show="tabs.tab === 3">
          <pokemon-evolution></pokemon-evolution>
        </div>
      </div>
    </div>
    <!-- /tabs -->
  </div>
  <!-- comments -->
  <pokemon-comments name="{{pokemon.name}}"></pokemon-comments>
  <!-- /comments -->
</div>
<!-- /pokemon -->



